In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import os

In [2]:
#csv obtained from https://www.eia.gov/electricity/data/state/
#Alaska reports no solar energy production for this time frame
#Measurments are in Megawatts
solar_data = "SolarProduction.csv"
solar_data_df = pd.read_csv(solar_data)

In [13]:
solar_data_df = solar_data_df.drop(columns=['Grand Total'])

In [14]:
solar_data_df

,STATE,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,AL,0,0,0,0.00,0,0.00,0.00,0,62522,361376,714504
1,AR,0,0,0,0.00,0,0.00,0.00,1854,52284,61624,406826
2,AZ,29448,28290,31508,166697.56,1910886,4222877.28,6283015.71,6913216,7531650,9884002,10280753
3,CA,1340962,1294780,1538662,1777658.80,2764600,7627449.58,19863629.72,29628768,37613423,48705833,53970354
4,CO,36708,51170,84996,209271.22,330898,496904.92,506130.00,502742,1076218,1908996,2124760
5,CT,0,0,0,0.00,0,0.00,23412.46,34878,49036,79732,211110
6,DE,0,0,0,16559.60,45118,89454.00,99060.00,97023,102172,100570,99578
7,FL,0,18940,160880,251452.00,387232,419804.00,483368.36,447866,447966,1752854,4824126
8,GA,0,0,0,0.00,5842,28994.60,238453.32,258904,1761846,3972544,3991674
9,HI,36,2780,3540,7186.00,9216,38931.92,78523.50,108794,177022,350038,369152
10,IA,0,0,0,0.00,0,0.00,0.00,0,302,9676,22912
11,ID,0,0,0,0.00,0,0.00,0.00,0,59602,918690,1111928
12,IL,0,32,28290,28124.00,61314,104240.00,100233.80,98720,97620,104294,132100
13,IN,0,0,0,0.00,342,61080.00,204253.80,312196,451682,555350,581434
14,KS,0,0,0,0.00,0,0.00,0.00,3612,4204,10560,15454
15,KY,0,0,0,0.00,0,0.00,0.00,0,23464,39770,78872
16,LA,0,0,0,0.00,0,0.00,0.00,0,0,4846,3036
17,MA,160,86,1855,9528.94,59228,212914.02,612642.78,902732,1218561,1576949,1956623
18,MD,0,0,160,5412.00,44946,126970.78,196235.44,237603,417314,534180,793440
19,ME,0,0,0,0.00,0,0.00,0.00,0,0,10872,24064
20,MI,0,0,0,0.00,0,0.00,0.00,2380,18470,126608,236306
21,MN,0,0,0,0.00,0,5412.00,5306.00,5578,20214,1192248,2084042
22,MO,0,0,0,0.00,0,0.00,17414.00,33796,65368,112376,182462
23,MS,0,0,0,0.00,0,0.00,0.00,0,0,171846,651706
24,MT,0,0,0,0.00,0,0.00,0.00,0,0,27266,68024
25,NC,3602,9126,22680,34760.90,278982,689325.62,1458260.96,2747158,6842256,10228236,12220756
26,NE,0,0,0,0.00,0,0.00,0.00,0,7962,30516,54224
27,NJ,5338,21414,42168,137755.22,608652,874817.56,1028504.80,1255780,1669757,1851995,1980840
28,NM,0,0,17860,255604.00,667594,776082.42,1030108.42,1229754,1503672,2385282,2697152
29,NV,312026,348618,433834,582449.02,946834,1490764.00,2027364.00,3314810,6248120,8291734,9437790
30,NY,0,0,0,12886.00,105426,134034.32,141231.28,201052,279222,365608,594944
31,OH,0,0,25696,30990.00,73274,92619.08,107816.54,112144,131116,210356,238110
32,OK,0,0,0,0.00,0,0.00,0.00,3112,10872,65164,123252
33,OR,0,0,0,180.00,12824,40986.00,48084.10,48416,81872,388104,1143392
34,PA,350,7124,15819,46288.06,64294,126211.62,124784.84,127788,149610,139233,124950
35,RI,0,0,0,0.00,0,4013.20,19606.00,28702,29326,28166,57732
36,SC,0,0,0,0.00,0,230.00,9570.00,8440,9942,159044,1020988
37,SD,0,0,0,0.00,0,0.00,0.00,0,728,4112,3344
38,TN,0,0,0,0.00,24366,40788.00,54962.00,152294,157234,184684,335188
39,TX,0,0,16416,57278.00,236530,326025.86,564702.60,801518,1461620,4378254,6411294
40,US-TOTAL,1728630,1782359,2424363,3635391.30,8653350,18071240.75,35382062.37,49785807,72108242,106573730,127650629
41,UT,0,0,0,0.00,3238,4200.00,4470.00,63718,2107322,4422210,4447412
42,VA,0,0,0,0.00,0,0.00,0.00,0,41816,626442,1526144
43,VT,0,0,0,3630.00,10128,34586.00,47071.94,96044,118062,197602,213480
44,WA,0,0,0,1680.00,1588,1524.00,1458.00,1580,1454,962,3390
45,WI,0,0,0,0.00,0,0.00,2388.00,2834,5342,42930,79364
46,WY,0,0,0,0.00,0,0.00,0.00,0,0,0,1648
47,Grand Total,3457260,3564719,4848727,7270782.62,17306702,36142481.53,70764124.74,99571613,144216487,213147464,255301263